<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.micz.s9notifier"
    android:versionCode="1"
    android:versionName="1.0alpha" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <!-- to get the unread mail number from K9 -->
    <uses-permission android:name="com.fsck.k9.permission.READ_MESSAGES" />
    <!-- to show the unread mail on a Samsung phone -->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
	<uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="it.micz.s9notifier.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name=".K9Receiver">
           <intent-filter>
                <action android:name="com.fsck.k9.intent.action.EMAIL_RECEIVED"/>
                <data android:scheme="email" android:host="messages" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.fsck.k9.intent.action.EMAIL_DELETED"/>
                <data android:scheme="email" android:host="messages" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.fsck.k9.intent.action.REFRESH_OBSERVER"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
